html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: #222;
}